
.body-container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(208, 204, 211);
    display: grid;
    grid-template-columns:25% 25% 25% 50px;
    grid-template-rows: 150px 1fr 1fr 1fr;
    grid-gap: 1em;

    padding: 5px;
    box-sizing: border-box;
}
header{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: darkblue;
}
.right-side{
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: deeppink;
    padding:10px;
    border:1px solid black
}
main{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: coral;
}
footer{
    grid-row-start: 4;
    background-color: deepskyblue;
}
