
.body-container{
    width: 100vw;
    height: 100px;
    background-color: rgb(208, 204, 211);
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;

    padding: 10px;
    box-sizing: border-box;
}
header{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: darkblue;
}
.right-side{
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: deeppink;
    padding:10px;
    border:1px solid black
}
main{
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: coral;
}
footer{
    background-color: deepskyblue;
}
