body{
    background-color: #C1BDB3;
}
.body-container{
    width: 100vw;
    height: 100vh;
    background-color: #C1BDB3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr .5fr;
    grid-template-rows: 150px 1fr 1fr 1fr 1fr;
    grid-gap: .1em;

    padding: 2px;
    box-sizing: border-box;
}
header{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color:#C1BDB3;
}
.right-side{
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    padding:10px;
    border:1px solid black
}
.all-movies{
    background-color: #CEFF1A;  
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 5;                                         
}
.show-all-movies{
    text-decoration: none;
    position: sticky;
    top:0;
    padding-top: 17px;
    margin-left: 30px;
    font-weight: 700;
}
.add-new-movie{
    background-color: #1B4332;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 5;
}
.add-movie-main{
    text-decoration: none;
    position: sticky;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin-top: 5px;
    font-weight: 700;
}

main{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 3;
    background-color: #C1BDB3;
}
footer{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #C1BDB3;
}

@media all and (max-width: 800px) and (min-width: 700px) {

        .show-all-movies{
            margin-left: 10px;
        }
        .add-movie-main{
            margin-right: 10px;
        }
}

@media all and (max-width: 699px) and (min-width: 520px) {
    main{
    background-color: black;
    }
    .add-movie-main{
        margin-right: 10px;
    }
    .show-all-movies{
        margin-left: 10px;
    }
}

