header{
 grid-column-start: 1;
 grid-column-end: 5;
}

.app-name{
    margin-top: 0;
}

.logo-tag{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.tag{
    margin-left: 20px;
}