header{
    display: grid;
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 5;
} 

.app-name{
    margin-top: 0;
}

.logo-tag{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    text-decoration: none;
}
.logo{
    margin-left: 10px;
    font-size: 40px;
    height: 100px;
    text-decoration: none;
}
.logo-main{
    margin-top: 0px;
    margin-bottom: 10px;
}

.tag{
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
}

.log-in-fo{
    background-color: cornflowerblue;
    grid-column-start:4;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: baseline;
    margin-top: 100px;
}

.find-your-movies{
    background-color: cyan;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 13px ;
    
    grid-column-start: 5;
    grid-row-end: span 5;
    
}

