
.movie-card{
    background-color: darkmagenta;
    width:40vw;
    padding: 0 20px;
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;   
}

.movie-card-image{
    width: 40vw;
}
.break{
    word-break: break-all;
}
.card-container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}